.verses {
  list-style: none;
  margin: 0;
  padding: 0;
}

body:not(.simple-verse-style) .verse {
  position: relative;
  padding: .5rem .75rem;
  margin-bottom: var(--verse-spacing, 0.8em);
}

body.no-verse-padding:not(.simple-verse-style) .verse {
  padding-top: 0;
  padding-bottom: 0;
}

body:not(.simple-verse-style) .verse:nth-child(odd) {
  background: hsl(220 20% 97%);
}

body:not(.simple-verse-style) .verse:nth-child(even) {
  background: hsl(220 20% 93%);
}

body:not(.simple-verse-style) .padas {
  list-style: none;
  margin: 0;
  padding: 0;
}

.padas > li {
  line-height: 1.4;
}

input[type=range] {
  accent-color: #113121;
}

body.simple-verse-style .verses {
  list-style-type: none;
  padding-left: 0;
}

body.simple-verse-style .verse {
  margin-bottom: 0.4em;
}

body.simple-verse-style .padas {
  list-style-type: none;
  padding-left: 0;
}