.plain-text { display: none; }
.rich-text { display: block; }
body.simple-view .plain-text { display: block; }
body.simple-view .rich-text { display: none; }

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 40px;
}

.pb-label, .lb-label { display: none; }
.show-breaks .pb-label,
.show-breaks .lb-label {
    display: inline;
    color: darkgreen;
    cursor: default;
}

/* Override for page-start labels to be blue and clickable */
.show-breaks .pb-label,
.show-breaks .lb-label[data-line="1"] {
    cursor: pointer;
    color: blue;
}
.lg > span { display: block; }
.lg-head { margin-left: -2em; }

.hyphen, .lb-br, .pb-br { display: none; }
.show-line-breaks .hyphen { display: inline; }
.show-line-breaks .lb-br, .show-line-breaks .pb-br { display: block; }

#content.hide-location-markers .location-marker {
    display: none;
}
